# Module 1: Docker $ SQL

#### Preparation

In [2]:
import pandas as pd

In [3]:
df = pd.read_parquet('https://d37ci6vzurychx.cloudfront.net/trip-data/green_tripdata_2025-11.parquet')
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,0.5,1.94,0.0,NaN,1.0,11.64,1.0,1.0,0.00,0.0
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,0.5,0.00,0.0,NaN,1.0,9.70,2.0,1.0,0.00,0.0
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,0.5,5.00,0.0,NaN,1.0,21.00,1.0,1.0,0.00,0.0
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,0.5,0.50,0.0,NaN,1.0,27.70,1.0,1.0,0.00,0.0
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.5,1.00,0.0,NaN,1.0,24.65,1.0,1.0,2.75,0.0

In [11]:
zones_df = pd.read_csv('https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv')
zones_df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [12]:
df_with_zones = df.merge(zones_df, left_on='PULocationID', right_on='LocationID', how='left')
df_with_zones.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,cbd_congestion_fee,LocationID,Borough,Zone,service_zone
0,2,2025-11-01 00:34:48,2025-11-01 00:41:39,N,1.0,74,42,1.0,0.74,7.2,...,1.0,11.64,1.0,1.0,0.00,0.0,74,Manhattan,East Harlem North,Boro Zone
1,2,2025-11-01 00:18:52,2025-11-01 00:24:27,N,1.0,74,42,2.0,0.95,7.2,...,1.0,9.70,2.0,1.0,0.00,0.0,74,Manhattan,East Harlem North,Boro Zone
2,2,2025-11-01 01:03:14,2025-11-01 01:15:24,N,1.0,83,160,1.0,2.19,13.5,...,1.0,21.00,1.0,1.0,0.00,0.0,83,Queens,Elmhurst/Maspeth,Boro Zone
3,2,2025-11-01 00:10:57,2025-11-01 00:24:53,N,1.0,166,127,1.0,5.44,24.7,...,1.0,27.70,1.0,1.0,0.00,0.0,166,Manhattan,Morningside Heights,Boro Zone
4,1,2025-11-01 00:03:48,2025-11-01 00:19:38,N,1.0,166,262,1.0,3.20,18.4,...,1.0,24.65,1.0,1.0,2.75,0.0,166,Manhattan,Morningside Heights,Boro Zone

In [6]:
df.shape, df_with_zones.shape

((46912, 21), (46912, 25))

#### Question 3:
 For the trips in November 2025, how many trips had a trip_distance of less than or equal to 1 mile?

In [7]:
mask = (df['lpep_pickup_datetime'] >= '2025-11-01') & (df['lpep_pickup_datetime'] < '2025-12-01') & (df['trip_distance'] <= 1)
num_trips = df.loc[mask].shape[0]
num_trips

8007

#### Question 4:
 Which was the pick up day with the longest trip distance? Only consider trips with trip_distance less than 100 miles.

In [8]:
mask = df['trip_distance'] < 100
longest_trip = df.loc[mask].sort_values(by='trip_distance', ascending=False).iloc[0]
longest_trip_date = longest_trip['lpep_pickup_datetime'].date()
longest_trip_distance = longest_trip['trip_distance']
(longest_trip_date, longest_trip_distance)

(datetime.date(2025, 11, 14), np.float64(88.03))

#### Question 5:
 Which was the pickup zone with the largest total_amount (sum of all trips) on November 18th, 2025?

In [ ]:
mask = (df_with_zones['lpep_pickup_datetime'] >= '2025-11-18') & (df_with_zones['lpep_pickup_datetime'] < '2025-11-19')
df_nov18 = df_with_zones.loc[mask]
total_amount_by_zone = df_nov18.groupby('Zone')['total_amount'].sum()
top_zone = total_amount_by_zone.idxmax()
top_zone

'East Harlem North'

#### Question 6:
 For the passengers picked up in the zone named "East Harlem North" in November 2025, which was the drop off zone that had the largest tip?

In [ ]:
top_pickup_zone = 'East Harlem North'
top_pickup_zone_id = zones_df[zones_df['Zone'] == top_pickup_zone]['LocationID'].values[0]
mask = (df_with_zones['PULocationID'] == top_pickup_zone_id) & (df_with_zones['lpep_pickup_datetime'] >= '2025-11-01') & (df_with_zones['lpep_pickup_datetime'] < '2025-12-01')
df_east_harlem = df_with_zones.loc[mask]
max_tip_row = df_east_harlem.loc[df_east_harlem['tip_amount'].idxmax()]
top_dropoff_zone_id = max_tip_row['DOLocationID']
zones_df[zones_df['LocationID'] == top_dropoff_zone_id]['Zone'].values[0]

'Yorkville West'